.container-show-group{
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  .show-group-left{
    padding: 40px;
    h1{
      font-weight: 300;
    }
  }
  .group-event{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80px;
    margin-top: 10px;
  }

  .group-event-img{
    width: 70px;
    height: 70px;
    background-color: $main-color;
  }

  .future-wall{
    width: 40vw;
    height: 60vh;
    background-color: white;
  }
  .banner-pink{
    position: relative;
    height: auto;
    box-shadow: -4 0 5 rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .link-btn-members{
    height: 50px;
  }
  .diagonal-pink{
    height: 100px;
    width: 100%;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, $main-color 50%);
  }
  .bg-pink{
    background: linear-gradient(to bottom, $main-color, $orange);
    width: 100%;
    height: 100vh;
  }
  .container-link-btns{
    padding: 20px 40px;
    position: relative;
    bottom: 0vh;
  }
  .container-cards{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 300px 40px;
    overflow: scroll;
    .usercard{
      margin-right: 40px;
    }
  }
}
