<div class="container-banner-hp">
  <div class="container-title-hp">
    <h1>#TEAM_UP</h1>
    <h2>WITH THE PERFECT SQUAD</h2>
  </div>
  <div class="container-discover-hp">
    <a href="#" class="link-btn">#DISCOVER</a>
    <p>OVERWATCH</p>
  </div>
</div>

<div class="diagonal-up"></div>

<div class="your-groups-hp-container">
  <div class="your-groups-hp-title">
    <h4>YOUR FRIENDS ARE PLAYING!</h4>
    <a href="#" class="link-btn">#BROWSE_YOUR_GROUPS</a>
  </div>
  <div class="your-groups-hp-scroll">
  </div>
</div>

<div class="diagonal-down"></div>

<div class="profiles-hp-container">
  <div class="your-groups-hp-title">
    <h4>YOUR FRIENDS ARE PLAYING!</h4>
    <a href="#" class="link-btn">#BROWSE_YOUR_GROUPS</a>
  </div>
  <div class="your-groups-hp-scroll">
  </div>
</div>
