<div class="uc">
  <% @users.first(1).each do |user| %>
    <%= render "shared/usercard", user: user %>
  <% end %>
  <% @users.first(1).each do |user| %>
    <%= render "shared/usercardv2", user: user %>
  <% end %>
  <% @users.first(1).each do |user| %>
    <%= render "shared/usercardv3", user: user %>
  <% end %>
</div>
