.diagonal-up{
  height: 50px;
  width: 100%;
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, $background-color 50%);
  position: relative;
  bottom: 50px;
}

.diagonal-down{
  height: 50px;
  width: 100%;
  background: linear-gradient(to left bottom, $background-color 50%, $main-color 50%);
}

.diagonal-up-orange{
  height: 50px;
  width: 100%;
  background: linear-gradient(to left bottom, $orange 50%, $background-color 50%);
}

.diagonal-usercard{
  position: absolute;
  z-index: 2;
  top:0;
  left: 0;
  top: 50px;
  height: 20px;
  width: 100%;
  background: linear-gradient(to left bottom, rgba(0, 0, 0, 0.8) 50%, $background-color 50%);
  transition: .2s;
}

