.groupmodal-content{
  height: 90vh;
  width: 90vw;
  position: relative;
  background-position: center !important;
  background-size: cover !important;
  .req-form{
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .group-infos{
    width: 80%;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  h4{
    color: white;
    font-size: 45px;
    font-weight: 300;
  }
  h5{
    color: white;
    font-size: 45px;
    font-weight: 400;
  }
  .description-group{
    color: white;
    font-size: 20px;
    font-weight: 300;
  }
  .group-events{
    color: white;
    font-size: 20px;
    font-weight: 300;
  }
  .group-event-title{
    color: white;
  }
  .group-event{
    height: 100px;
    padding: 10px;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .group-users{
    position: absolute;
    left: 40px;
    bottom: 0px;
    display: flex;
    width: 80%;
    z-index: 2;
  }
  .group-user{
    margin-right: 40px;
  }
  .platform{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60px;
    right: 60px;
    width: 200px;
    text-align: center;
    p{
      padding: 10px 20px;
    }
  }
  .diagonal-pink{
    height: 100px;
    width: 100%;
    background: linear-gradient(to left bottom, rgba(0, 0, 0, 0) 50%, $main-color 50%);
  }
  .bg-pink{
    background: linear-gradient(to bottom, $main-color, $orange);
    width: 100%;
    height: 100vh;
  }
  .container-link-btns{
    position: absolute;
    left: 40px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px 40px;
  }
  .container-cards{
    display: flex;
    padding: 100px 40px;
    overflow-y: scroll;
  }
  .group-event-img{
    width:80px;
    height: 80px;
    background-size: cover;
    background-position: center;
  }
  h6{
    font-weight: 400;
    font-size: 22px;
  }
  .membership_message{
    display: flex;
    width: 50vw;
    padding: 0 20px;
    #membership_message{
      width: 40vw;
      background: none;
      border: 1px solid white;
      color: white;
      text-align: center;
      padding: 5px;
    }
    input{
      border: none;
      background: none;
      color: white;
      border-top: 1px solid white;
      border-left: none;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }
  }
}
.banner-pink{
    position: relative;
    height: auto;
    box-shadow: -4 0 5 rgba(0, 0, 0, 0.2);
    transition: 1s;
  }
  .collapse {
    display: none;
  }

.modal-dialog-centered{
  width: 100% !important;
  margin-left: 10vh;
}

.groupmodal-close-btn{
  color: $main-color;
  opacity: 1;
  font-size: 60px;
  font-weight: 200;
  margin: -10px 10px;
  text-shadow: none;
  transition: .5s;
  &:hover{
    color: $main-color;
    opacity: 1;
    transition: .5s;
  }
}

.modal.fade .modal-dialog {
  transform: translate3d(0, 100vh, 0) !important;
  overflow-y: hidden;
}

.modal.in .modal-dialog {
  transform: translate3d(0, 0, 0) !important;
}
