.relative-scroll{
  position: relative;
}

#container-scroll {
  // center in parent
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;

  display: flex;
  overflow: auto;
}
.container-scroll-profile {
  position: absolute;
  top: 30px;
  left: 0;
  width: 96%;
  margin-left: 2%;
  display: flex;
  overflow: auto;
}

// inner parent allowed to stretch to fit children
#flex-scroll {
  // inside spacing
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.flex-scroll-profile {
  // inside spacing
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.flex-scroll-profile:first-child {
  margin-left: -30px !important;
}
.flex-scroll-profile:last-child {
  margin-right: 225px !important;
}
