.navbar-static{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 2000;
  a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    transition: .5s;
    &:hover{
      text-decoration: none;
      transition: .5s;
    }
  }
  .navtext{
    opacity: 0;
    color: white;
    font-size: 0;
    transition: .5s;
  }
}

.navbar-side {
  height: 100%;
  width: 60px;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  // background-color: $background-color;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
  z-index: 1000;
  transition: .5s;
  &:hover{
    width: 220px;
    transition: .5s;
    background-color: rgba(20, 20, 20, 0.8);
  }
  &:hover .navtext{
    opacity: 1;
    font-size: 20px;
    color: white;
    transition: .5s;
    padding-left: 10px;
  }
  &:hover .side-link {
    padding-left: 20px;
    transition: .5s;
  }

}

 .navbar-side-item {
  padding: 1.5rem 0;
  margin: 20px;
  height: 5rem;
  &:hover{
    color: $main-color;
  }
  &:hover a{
    color: $main-color;
    transition: .5s;
  }
}

.side-link {
  padding-left: 0;
    transition: .5s;
}

//  .navbar-side {
//     // other code omitted
//   -webkit-transform: translateX(100%);
//   -ms-transform: translateX(100%);
//   transform: translateX(100%);
//   -webkit-transition: 300ms ease;
//   transition: 300ms ease;
// }
//  .reveal {
//   -webkit-transform: translateX(0%);
//   -ms-transform: translateX(0%);
//   transform: translateX(0%);
//   -webkit-transition: 300ms ease;
//   transition: 300ms ease;
// }
