.container-main-show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 1.5px;
  overflow-x: hidden;
  overflow-y: scroll;
  .main-head{
    height: 100vh;
  }

  #group1 {
    height: 100%;
    position: relative;
    top:0;
    transform-style: preserve-3d;
  }

  .foreground {
    position: absolute;
    top: 500px;
    height: 100%;
    width: 100%;
    background: #fff;
    padding-top: 0px;
  }
  .header {
    z-index :1;
  }

  .margin-top{
    margin-top: 35vh;
    background-color: $background-color;
  }
}



