.profile-header {
  height: 100vh;
  background-size: cover !important;
  background-position: top;
  background-repeat: no-repeat;
  .profile-title {
    margin-bottom: 60px;
    position: relative;
    height: 20vh;
    padding-top: 20px;
    padding-right: 80px;
    h1 {
      position: absolute;
      top: 20px;
      left: 150px;
      margin-top: 0;
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 1px 1px 100px black;
      // color: $main-color;
      font-size: 40px;
      margin-left: 10px;
    }
    .small-photo {
      position: absolute;
      top: 20px;
      cursor: pointer;
      width: 150px;
      border: 1px solid black;
    }
    & > * {
      padding: 0 15px;
    }
    h2 {
      position: absolute;
      top: 60px;
      left: 160px;
      margin-top: 15px;
      color: white;
      font-size: 36px;
      font-weight: lighter;
    }
  }
  .profile-biography {
  p {
    width: 75%;
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: lighter;
  }
}
}
.profile-groups, .profile-games {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 33vh;
  transition: .4s;
  h3 {
    opacity: 0.8;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
  }
  a {
    color: $main-color;
    font-weight: lighter;
    opacity: 0.8;
  }
}
.profile-interests {
  h3 {
    margin-left: 70px;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.8);
  }
}
.half-div-top {
  height: 40px;
  width: 100%;
  background: linear-gradient(to left bottom, $background-color 50%, $main-color 50%);
}
.half-div-bottom {
  height: 30px;
  width: 100%;
  background: linear-gradient(to left bottom, $orange 50%, $background-color 50%);
}
.half-div-footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: linear-gradient(to left bottom, $background-color 50%, $main-color 50%);
}
.modal-photo { border: 2px solid $main-color; }

.form-btn {
  margin: 0 auto;
  display: block;
}
